<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ url_for("static", path="favicon-32x32.png") }}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ url_for("static", path="favicon-16x16.png") }}"
        />
        <style>
            @font-face {
                font-family: 'Rethink Sans';
                font-style: italic;
                font-weight: 400 800;
                font-display: swap;
                src: url({{ url_for("static", path="fonts/rethink-sans-v5-italic-latin-ext.woff2") }}) format('woff2');
                unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
            }
            @font-face {
                font-family: 'Rethink Sans';
                font-style: italic;
                font-weight: 400 800;
                font-display: swap;
                src: url({{ url_for("static", path="fonts/rethink-sans-v5-italic-latin.woff2") }}) format('woff2');
                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
            }
            @font-face {
                font-family: 'Rethink Sans';
                font-style: normal;
                font-weight: 400 800;
                font-display: swap;
                src: url({{ url_for("static", path="fonts/rethink-sans-v5-normal-latin-ext.woff2") }}) format('woff2');
                unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
            }
            @font-face {
                font-family: 'Rethink Sans';
                font-style: normal;
                font-weight: 400 800;
                font-display: swap;
                src: url({{ url_for("static", path="fonts/rethink-sans-v5-normal-latin.woff2") }}) format('woff2');
                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
            }
        </style>
        <script src="{{ url_for("static", path="lib/tailwind-dev-v3.4.5.min.js") }}"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        fontFamily: {
                            rethink: ['"Rethink Sans"', 'sans-serif'],
                        },
                    },
                },
            };
        </script>
        <style type="text/tailwindcss">
            @layer utilities {
                .content-auto {
                    content-visibility: auto;
                }
            }
        </style>
        <script src="{{ url_for("static", path="lib/htmx-v2.0.3.min.js") }}"></script>
    </head>
    <body class="flex flex-col flex-nowrap min-h-screen">
        <section id="header" class="flex-none width-full">
            {% include 'components/header.jinja' %}
        </section>
        <section id="content" class="grow width-full overflow-x-scroll">
            <div class="container mx-auto pt-2">
                {% block content %}{% endblock %}
            </div>
        </section>
        <section id="footer" class="flex-none width-full">
            {% include 'components/footer.jinja' %}
        </section>
    </body>
</html>
